@import '/abstracts/variables';
@import '/abstracts/resets';

/*  ------------ HEADER -------------  */
.header{
    background-color: white;
}

.menu_hamburgesa{
    text-align: end;
}

/*  ------------ FOOTER -------------  */
.footer{
    background-color:white;
    min-height: 250px;
    color: $colorgris;
    align-items:center;
}

/*  ------------ INDEX -------------  */
.imagen-fondo{
    min-height: 700px;
    background-image: url(./images/fotocat2bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.seccion1{
    display: grid;
    align-items: center !important;
    grid-template-areas:
    'titulo'
    'botones';

        &__titulo{
        grid-area: titulo;
        padding: 20px;
        padding-left: 50px;
        align-self: end;
        justify-self: start;  
    }

    &__botones{
        grid-area: botones;
        padding: 20px;
        padding-left: 50px;
        justify-self: start;
        align-self: start;
        column-gap: 2rem;
    }
}

/*  ------------ ADOPT -------------  */
.sin-fondo{
    background-color:$colorfondo !important;
}

.card {
    margin: 5px;
    padding-top: 5px;
    box-shadow: 2px 6px 8px 0  rgb(231, 231, 231);
    border: none;
    border-radius: 20px;
    width: 100%;

    & img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 20px;
        object-fit: cover;
    }